/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.action-bloc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%
}

table .action-td {
  text-align: right;
}

mat-step-header .mat-step-label {
  width: 100%;
}
