.hidden-file-input {
  display: none;
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-divider {
  align-self: flex-end;
}

.picture-bloc {
  position: relative;
  text-align: center;
  img {
    max-height: 200px;
    max-width: 200px;
  }
  a {
    position: absolute;
    opacity: .8;
    top: 70%;
    left: 70%;
  }

  .upload-progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: gray, $alpha: .7);
    
    mat-progress-spinner, mat-spinner {
      margin-top: 40%;
      margin-left: 45%;
    }

    p {
      color:white;
      text-shadow: 1px 1px black;
    }


  }
} 