rules_version = '2';

service cloud.firestore {

   match /databases/{database}/documents {
   	//users paths
     match /users/{restOfPath=**} {
       allow  update, delete : if isSignedIn() && isAdmin();
			 allow read, create   : if isSignedIn();
    }

    //sites paths
     match /sites/{restOfPath=**} {
       allow delete : if isSignedIn() && isAdmin();
			 allow read, update, create   : if isSignedIn();
    }

  //Functions
  function isSignedIn() {return request.auth != null;}
	function isAdmin(){
		return
    	get(/databases/$(database)/documents/users/$(request.auth.token.email))!=null
			&&
      get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.roles!=null
      &&
			'ADMIN' in get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.roles ;
		}
	}
}
