<h2 mat-dialog-title>Affecter la mission à</h2>
<mat-form-field class="email-chip-list">
  <mat-chip-list #chipList aria-label="email selection">
    <mat-chip *ngFor="let email of data.emails" [selectable]="true" [removable]="true" (removed)="remove(email)">
      {{email}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Nouvel email" #emailInput [formControl]="emailCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let email of filteredEmails$ | async" [value]="email">
      {{email}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field>
  <mat-label>
    Affecter pour :
  </mat-label>
  <mat-select [formControl]="selectedStep">
    <mat-option  [value]="steps.TIRAGE">
      Tirage
    </mat-option>
    <mat-option [value]="steps.SOUDURE">
      Soudure
    </mat-option>
    <mat-option [value]="steps.TEST">
      Test
    </mat-option>
  </mat-select>
</mat-form-field>
<app-touret-input-form [mission]="data.mission" (touretChange)="onTouretChange($event)"></app-touret-input-form>
<mat-dialog-actions>
  <button mat-button (click)="onSubmit()">Valider</button>
</mat-dialog-actions>