<div class="controls">
  <mat-label>{{label}}</mat-label>
  <a [disabled]="disabled" (click)="!disabled && captureFileInput.click()" mat-icon-button>
    <mat-icon>add_a_photo</mat-icon>
  </a>
  <a [disabled]="disabled" (click)="!disabled && fileInput.click()" mat-icon-button>
    <mat-icon>insert_photo</mat-icon>
  </a>
  <input #captureFileInput (change)="onFileChange(captureFileInput)" class="hidden-file-input" type="file"
    accept="image/*" capture="environment">
  <input #fileInput (change)="onFileChange(fileInput)" class="hidden-file-input" type="file" accept="image/*">
</div>

<div *ngIf="displayData && !(loading$ | async)" class="picture-bloc">
  <a *ngIf="!disabled" mat-fab color="warn" (click)="clearPicture()">
    <mat-icon>close</mat-icon>
  </a>
  <img [src]="displayData">
</div>

<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<mat-divider></mat-divider>