.hidden-file-input {
  display: none;
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-divider {
  align-self: flex-end;
}

.picture-bloc {
  position: relative;
  text-align: center;
  img {
    max-height: 200px;
    max-width: 200px;
  }
  a {
    position: absolute;
    opacity: .8;
    top: 70%;
    left: 70%;
  }
} 