<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-title>
      Mission
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Reference</mat-label>
        <input readonly matInput formControlName="ref" type="text" />
      </mat-form-field>
      <div formArrayName="pictures" *ngFor="let picture of getPicturesControls(); let i = index;">
        <app-picture-input [label]="'image ' + i" [formControlName]="i"></app-picture-input>
      </div>
    </mat-card-content>
    {{form.value | json}}
    <mat-card-actions align="end">
      <button type="submit" [disabled]="form.invalid" mat-button>Enregistrer</button>
    </mat-card-actions>
  </mat-card>
</form>