<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <!-- Chantier-->
    <mat-card-title>{{mission?.number}}</mat-card-title>

    <mat-card-content>
      <!-- Touret -->
      <mat-form-field>
        <mat-label>Touret</mat-label>
        <input matInput readonly type="text"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Commentaire</mat-label>
        <textarea matInput rows="5" formControlName="comment" type="text"></textarea>
      </mat-form-field>

      <!-- Photos des chambres-->
      <mat-vertical-stepper>
        <!-- Custom icon with a context variable. -->
        <ng-template matStepperIcon="number" let-index="index">
          <div class="index">
            {{index + 1}}
          </div>
        </ng-template>
        <mat-step formArrayName="checkPoints" *ngFor="let checkPoint of formCheckPointsControls; let i = index;"
                  [stepControl]="checkPoint">
          <ng-template matStepLabel>
            <div>
              <app-check-point-icon [checkPoint]="mission.checkPoints[i]"></app-check-point-icon>
              {{mission.checkPoints[i].ref}}
            </div>
          </ng-template>
          <div *ngFor="let picture of checkPoint.controls; let j = index;" [formArrayName]="i">

            <app-picture-input [label]="mission.checkPoints[i]?.properties?.requiredPhotos[j]?.label" [formControlName]="j"></app-picture-input>

          </div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-chip-list *ngIf="mission.links[i]">
            <mat-chip>
              <p><b>Distance: </b> {{mission.links[i].value}} m</p>
            </mat-chip>
            <mat-chip>
              <p><b>Section: </b>{{mission.links[i].section}}</p>
            </mat-chip>
          </mat-chip-list>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="submit" [disabled]="form.invalid" mat-button>Envoyer le formulaire</button>
    </mat-card-actions>
  </mat-card>
</form>
