<mat-card *ngFor="let mission of missions$ | async; index as i">
  <mat-card-title>
    {{mission.title}} {{i + 1}}
  </mat-card-title>
  <mat-card-content>
    <h3>Chantier :</h3>{{mission.site}}
    <h3>Nombre de boites :</h3>{{mission.boxes.length}}
    <h3>Avancement:</h3>
    <mat-progress-bar [value]="getMissionProgressValue(mission)" mode="determinate">
    </mat-progress-bar>
  </mat-card-content>
  <mat-card-actions align="end">
    <button [routerLink]="'./' + i" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>