<mat-card>
  <mat-card-header>
    <mat-card-title>
      Chantiers
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="action-bloc">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" type="text" />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>
          Chercher un chantier
        </mat-hint>
      </mat-form-field>
      <div>
        <button color="primary" (click)="createSite()" mat-raised-button>Nouveau</button>
      </div>
    </div>

    <table mat-table [dataSource]="sitesDataSource$ | async" matSort>
      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Référence </th>
        <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
      </ng-container>
      <ng-container matColumnDef="missions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="let element"> {{element.planner}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="action-td" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editSite(element)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="removeSite(element)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator></mat-paginator>

  </mat-card-content>
</mat-card>