<mat-card>
  <mat-card-header>
    <mat-card-title>
      Chantiers
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="action-bloc">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" type="text" />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>
          Chercher un chantier
        </mat-hint>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="sitesDataSource$ | async" matSort>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aménageur </th>
        <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>
      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref </th>
        <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
      </ng-container>
      <ng-container matColumnDef="nro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NRO </th>
        <td mat-cell *matCellDef="let element"> {{element.nro}}</td>
      </ng-container>
      <ng-container matColumnDef="pm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PM </th>
        <td mat-cell *matCellDef="let element"> {{element.pm}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de creation </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate.toDate() | date : 'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="action-td" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editSite(element)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="(userService.getCurrentUserRoles() | async).admin" 
          mat-icon-button (click)="removeSite(element)"
            color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator></mat-paginator>

  </mat-card-content>
</mat-card>