<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>Fibre form <sup>(v 0.0.2)</sup></span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="menu" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a [routerLink]="'/mission'" mat-list-item>Missions</a>
      <a [routerLink]="'/admin'" mat-list-item>Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div [hidden]="loading" class="content">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>build</mat-icon>
    <span> {{user?.email}} </span>
  </button>
  <button (click)="signOut()" mat-menu-item aria-label="Logout">
    <mat-icon aria-hidden="false">logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>