.commentaire {
  margin: 20px 10px;
}

.title-comm, .content-comm{
  font-size: 15px;
}

.subtitle-comm {
  font-size: 11px;
}

.comment-card {
  max-width: 100%;
  background-color: #F8F8F8;
}

img {
  max-height: 200px;
  max-width: 200px;
}